
{% extends 'sayaAPP/base.html'%}
{% load static %}
{%block content%}
<!-- about section start -->
<div class="about_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-sm-8">
            <h2 class="about_taital">about Chrity</h2>
                  <p class="about_text">SOBAT RELIEF AGENCY (SRA) formerly known as Sobat Area Youth Association (SAYA) is non-profitable organization formed in June 2016 by a group of Youth Intellectuals in Mandeng to bridge gap in the area of youth and women empowerment, promotion of peaceful activities and conflict resolution in Sobat Area, Upper Nile and South Sudan in general. SRA has been registered under South Sudan Relief and Rehabilitation Commission under chapter 3, section 10 of NGOs Act, 2016 with REG. NO, 4778 on 29th March 2023.

                     SRA which was formerly registered as SAYA in February 2022 by Upper Nile SSRRC with registration NO, 052 changed its name after an approval of name change by its Board of Directors one year later after it signed a partnership agreement with ADRA-SS
                              </p>
                  <div class="readmore_bt"><a href="#">Read more</a></div>
               </div>
               <div class="col-sm-4">
                  <div class="about_img"><img src="{% static 'images/about-img.png' %}"></div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      
{%endblock%}