{% extends 'sayaAPP/base.html'%}
{% load static %}

{%block content %}
      <!-- banner section start -->
      <div class="banner_section layout_padding">
         <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-sm-12">
                           <h1 class="banner_taital">Empower the youth</h1>
                           <p class="banner_text">SOBAT RELIEF DEVELOPMENT ORGANIZATION(SRDO) strives to aid, develop and empower the community members in the villages, regardless of age or gender, religious beliefs and grant access to live saving humanitarian assistance and developmental projects.  We recognize that children learn when their physical, spiritual, emotional, and social needs are met.   SOBAT RELIEF AGENCY (SRA) will work with community elders, families and the children themselves, to identify on-going needs in order to improve their lives and increase their hope, faith and to have a Peaceful South Sudan free from Poverty, Environmental degradation, Hunger and Diseases  </p>
                           <div class="read_bt"><a href="#">Read More</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-sm-12">
                        <h1 class="banner_taital">Service beyond self  </h1>
                        <p class="banner_text">SOBAT RELIEF DEVELOPMENT ORGANIZATION(SRDO) acts as integrates self-development and individual concerns with public concerns, focusing on higher, broader, and more public levels of service. The organization conducts its activities for the sake of others, whether the public at large or a particular segment of the public.  NGO practitioners are to be exemplars of genuine giving out of concern for the welfare of others without the primary goal of their own enhancement or profit.       </p>
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-sm-12">
                        <h1 class="banner_taital">Respect for human rights  </h1>
                        <p class="banner_text">SOBAT RELIEF DEVELOPMENT ORGANIZATION(SRDO) should not violate any person’s fundamental human rights, with which each person is endowed, as recognized for example in the Universal Declaration of Human Rights. The organization recognize that all people are born free and equal in dignity and rights, and should be sensitive to the moral values, religion, customs, traditions, and cultures of the communities they serve.  </p>
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-sm-12">
                        <h1 class="banner_taital">Transparency</h1>
                        <p class="banner_text">SOBAT RELIEF DEVELOPMENT ORGANIZATION(SRDO) promote transparent in its dealings with the government,
                        the public, donors, partners, beneficiaries, and other interested parties  </p>
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="col-sm-12">
                        <h1 class="banner_taital">Responsibility </h1>
                        <p class="banner_text">SOBAT RELIEF DEVELOPMENT ORGANIZATION(SRDO), entrusts with a responsibility to the public, should take ownership of the task at hand, taking the initiative and proactively pulling together resources of all types in order to find and implement feasible solutions. Its staff/practitioners are to demonstrate sense of ownership IV. Public mindedness   
                           Public money must not be misused for selfish purposes and all public assets are to be treated with utmost seriousness, as a sacred public trust. SOBAT RELIEF AGENCY also exhibit a responsible and caring attitude toward the environment in all of its activities.   
                           </p>
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

<!-- donation contact -->
<form action=""  method="post">
   <div class="donation_box">
      <h4 class="donation_taital">Contact For Donation</h4>
      <div class="mail_box">
         <input type="" class="mail_text" placeholder="Your Name" name="Your Name">
         <input type="" class="mail_text" placeholder="Email" name="Email">
         <input type="" class="mail_text" placeholder="Phone" name="Phone">
      </div>
      <div class="send_bt"><a href="#">Send</a></div>
   </div>
</form>

<!-- donation end -->

         <div class="fundraise_section">
            <div class="fundraise_section_main">
               <div class="row">
                  <div class="col-lg-4">
                     <div class="box_main">
                        <div class="icon_1"><img src="{% static 'images/icon-1.png' %}"></div>
                        <h4 class="volunteer_text">VOLUNTEERS</h4>
                        <p class="lorem_text">Lorem Ipsum generators on the Internet tend to repeat predefined</p>
                        <div class="join_bt"><a href="{% url 'signup'  %}">Join Now</a></div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="box_main active">
                        <div class="icon_1"><img src="{% static 'images/icon-2.png' %}"></div>
                        <h4 class="volunteer_text">FUNDRAISE</h4>
                        <p class="lorem_text">Lorem Ipsum generators on the Internet tend to repeat predefined</p>
                        <div class="join_bt"><a href="{% url 'signup'  %}">Join Now</a></div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="box_main">
                        <div class="icon_1"><img src="{% static 'images/icon-3.png' %}"></div>
                        <h4 class="volunteer_text">DONATION</h4>
                        <p class="lorem_text">Lorem Ipsum generators on the Internet tend to repeat predefined</p>
                        <div class="join_bt"><a href="{% url 'signup'  %}">Join Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- banner section end -->


      
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-8">
                  <h2 class="about_taital">ABOUT SRDO</h2>
                  <p class="about_text"> SOBAT RELIEF DEVELOPMENT ORGANIZATION(SRDO) formerly known as Sobat Area Youth Association (SAYA) is non-profitable organization formed in June 2016 by a group of Youth Intellectuals in Mandeng to bridge gap in the area of youth and women empowerment, promotion of peaceful activities and conflict resolution in Sobat Area, Upper Nile and South Sudan in general. SRA has been registered under South Sudan Relief and Rehabilitation Commission under chapter 3, section 10 of NGOs Act, 2016 with REG. NO, 4778 on 29th March 2023.
                     SRA which was formerly registered as SAYA in February 2022 by Upper Nile SSRRC with registration NO, 052 changed its name after an approval of name change by its Board of Directors one year later after it signed a partnership agreement with ADRA-SS
                       </p>
                  <div class="readmore_bt"><a href="#">Read more</a></div>
               </div>
               <div class="col-sm-4">
                  <div class="about_img"><img src="{% static 'images/img-2.png' %}"></div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- mission section start -->
      <div class="mission_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="mission_taital">Mission</h1>
                  <p class="mission_text">The mission of the SRDO, is to develop the practice of leaving in environment which is full of awareness and educate the people about how to develop themselves to improve their living condition  </p>
               </div>
            </div>
         </div>
         <div class="mission_section_2">
            <div class="row">
               <div class="offset-md-2"></div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/img-1.png' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#">Read More</a></div>
                              <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/img-2.png' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#">Read More</a></div>
                              <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="mission_section_2">
            <div class="row">
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/img-3.png' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#">Read More</a></div>
                              <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/img-4.png' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#">Read More</a></div>
                              <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="offset-md-2"></div>
            </div>
         </div>
         <div class="mission_section_2">
            <div class="row">
               <div class="offset-md-2"></div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/img-5.png' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#">Read More</a></div>
                              <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/img-6.png' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#">Read More</a></div>
                              <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- mission section end -->
      
      <!-- events section start -->
      <div class="events_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="news_taital">OUR NEWS</h1>
                  <!-- <p class="news_text">going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p> -->
               </div>
            </div>
            <div class="events_section_2">
               <div class="row">
                  <div class="col-md-5">
                     <div class="img_7"><img src="{% static 'images/img-7.png' %}" class="img_7"></div>
                     <div class="date_bt">
                        <div class="date_text active"><a href="#">01</a></div>
                        <div class="date_text"><a href="#">FEB</a></div>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <h1 class="give_taital_1">The Internet tend to repeat</h1>
                     <p class="ipsum_text_1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literatureContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
                     <h5 class="raised_text_1">Raised: $60,010 <span class="goal_text">Goal: $70,000</span></h5>
                     <div class="donate_btn_main">
                        <div class="readmore_btn"><a href="#">Read More</a></div>
                        <div class="readmore_btn_1"><a href="donate.html">Donate Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="events_section_2">
               <div class="row">
                  <div class="col-md-5">
                     <div class="img_7"><img src="{% static 'images/img-8.png' %}" class="img_7"></div>
                     <div class="date_bt">
                        <div class="date_text active"><a href="#">10</a></div>
                        <div class="date_text"><a href="#">FEB</a></div>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <h1 class="give_taital_1">The Internet tend to repeat</h1>
                     <p class="ipsum_text_1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literatureContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
                     <h5 class="raised_text_1">Raised: $60,010     <span class="goal_text">Goal: $70,000</span></h5>
                     <div class="donate_btn_main">
                        <div class="readmore_btn"><a href="#">Read More</a></div>
                        <div class="readmore_btn_1"><a href="donate.html">Donate Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- events section end -->
      <!-- donate section start -->
      <div class="donate_section layout_padding">
         <div class="container">
            <h1 class="donate_taital">Donat pepole Says </h1>
            <div class="donate_taital_main">
               <div id="main_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="donate_left">
                           <div class="client_img"><img src="{% static 'images/client-img.png' %}"></div>
                        </div>
                        <div class="donate_right">
                           <h3 class="client_name_text">Mardo Merk</h3>
                           <p class="dummy_text">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefinedIf you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined</p>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="donate_left">
                           <div class="client_img"><img src="{% static 'images/client-img.png' %}"></div>
                        </div>
                        <div class="donate_right">
                           <h3 class="client_name_text">Mardo Merk</h3>
                           <p class="dummy_text">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefinedIf you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined</p>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="donate_left">
                           <div class="client_img"><img src="{% static 'images/client-img.png' %}"></div>
                        </div>
                        <div class="donate_right">
                           <h3 class="client_name_text">Mardo Merk</h3>
                           <p class="dummy_text">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefinedIf you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined</p>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                  </a>
                  <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <!-- donate section end -->
      {%endblock content %}
